language: node_js
node_js:
#  - stable
  - 10
  - 9
  - 8
#  - 6
#  - 4
#  - 0.12
#  - 0.11

services:
  - docker

before_script:
  - sudo service mysql stop
  - sudo service postgresql stop
  - docker-compose up -d
  - cp ormconfig.travis.json ormconfig.json

script:
  - npm run lint
  - npx nyc npm test

after_success:
  - npx nyc report --reporter=json > coverage/coverage.json
  - bash <(curl -s https://codecov.io/bash)
