[
  {
    "skip": false,
    "name": "mysql",
    "driver": {
      "type": "mysql",
      "host": "localhost",
      "port": 3306,
      "username": "test",
      "password": "test",
      "database": "test"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": false,
    "name": "mariadb",
    "driver": {
      "type": "mariadb",
      "host": "localhost",
      "port": 3307,
      "username": "test",
      "password": "test",
      "database": "test"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": false,
    "name": "sqlite",
    "driver": {
      "type": "sqlite",
      "storage": "temp/sqlitedb.db"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": false,
    "name": "postgres",
    "driver": {
      "type": "postgres",
      "host": "localhost",
      "port": 5432,
      "username": "root",
      "password": "test",
      "database": "test"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": true,
    "name": "mssql",
    "driver": {
      "type": "mssql",
      "host": "localhost",
      "username": "sa",
      "password": "admin",
      "database": "test"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": true,
    "name": "oracle",
    "driver": {
      "type": "oracle",
      "host": "localhost",
      "username": "system",
      "password": "oracle",
      "port": 1521,
      "sid": "xe.oracle.docker"
    },
    "logging": {
      "logQueries": false
    }
  },
  {
    "skip": false,
    "disabledIfNotEnabledImplicitly": true,
    "name": "mongodb",
    "driver": {
      "type": "mongodb",
      "database": "test"
    },
    "logging": {
      "logQueries": false
    }
  }
]